/* Common styles for all sections */
body {
    background-color: #b8c3ca;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}



header {
    background-color: #bf1223ec;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #ef2e41;
    padding: 8px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
}

main {
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

footer {
    background-color: #ef2e41;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
}

#gallery {
    height: 100vh;
    overscroll-behavior: 100px;
    background-color: #b8c3ca;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#gallery img {
    width: 100%;
    height: auto;
    background-color: #b8c3ca;
    max-width: 300%;

}

/* About section styles */
#about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23px;
}
/* Contact section styles */

#contact {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
  }
  
  #contact h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #contact p {
    color: #666;
    font-size: 16px;
    margin: 5px 0;
  }
  
  /* Style links if needed */
  #contact a {
    color: #007bff;
    text-decoration: none;
  }
  